@import "imports/aek-css-config";

// additional styles below
.listview-noshadow, .noshadow{
  box-shadow: 0 0 0 0 !important;
}
.ui.listview.menu.noshadow li.item {
  margin-bottom: 2rem;
  padding: 0;
}
.K2FeedImage{
  img{
    border-radius: 5px;
    display: block;
    width: 100%;
  }
}

.K2FeedIntroText{
  padding-top: 1rem;
}

.ui.header.alt.banner {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0,0,0,0.6);
    background-color: #1e6b52;
}

li.item {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

h2.ui.header {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
}
